.login-form {
  max-width: 100%;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
#form-container {
  margin-top: 25vh;
  /* background: white; */
}

.login-title {
  color: rgba(0, 0, 0, 0.4) !important;
  margin-bottom: 18px !important;
}
